<div class="row">
    <div class="col-md-12">
        <div class="box">
            
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody><tr>
                       
                        <th>Ambiente</th>
                        <th>IP</th>
                        <th>Cuenta</th>
                      
                        <th>Correo</th>
                        
                        <th></th>
                    </tr>
                    {{range $i, $v := .list}}
                    <tr>
                        <td>{{$v.IP}}</td>
                        <td>{{$v.Name}}</td>
                        <td>{{$v.Account}}</td>
                        <td>{{$v.Password}}</td>
                        <td>
                            <a href="/bastion/update/password/{{$v.Id}}"><span class="label label-primary">Modificar pass</span></a>
                         </td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            {{.PageHtml | strToHtml}}
        </div>
    </div>
</div>