<div class="row">
    <div class="col-md-12">
        <div class="box">
            
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody><tr>
                       
                      
                        <th>IP</th>
                        <th>IP interno</th>
                        <th>Motor</th>
                        <th>Puerto</th>
                        
                        <th></th>
                    </tr>
                    {{range $i, $v := .list}}
                    <tr>
                        <td>{{$v.Ip}}</td>
                        <td>{{$v.Ipinterno}}</td>
                        <td>{{$v.Engine}}</td>
                        <td>{{$v.Port}}</td>
                       
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            {{.PageHtml | strToHtml}}
        </div>
    </div>
</div>